version: '2'
services:
    web:
        build: .
        ports:
            - "80:3000"
        volumes:
            - .:/code
        links:
            - db
    
    db:
      image: mysql:5.7
      environment:
        MYSQL_DATABASE: test
        MYSQL_USER: test
        MYSQL_PASSWORD: test
        MYSQL_ROOT_PASSWORD: test
      volumes:
        - my-db:/var/lib/mysql
          
volumes:
  my-db:
  
